#container-Biography{
    display: flex;
    justify-content: flex-start;

    padding: 0px 40px;
  }

  #avatar-container{
    width: 300px;
    margin-right: 50px;
  }

  #avatar{
    width: inherit;
    height: 300px;
    margin-right: 40px;
    border-radius: 150px;
  }
  
  #social{
    display: flex;
    justify-content: center;

    border: 1px solid #4c5265;
    border-radius: 30px;
  
    background-color: #212129;
  }
  
  .social-icon{
    width: 25px;
    margin: 20px 25px;

    transition: opacity 0.15s;
    filter: brightness(000%) invert(100%);
  }
  
  .social-icon:hover{
    opacity: 0.5;
  }
  
  .social-icon:active{
    opacity: 1;
  }

  .nav-section-item{
    display: inline;
    margin: 50px 20px 0px 0px;
    padding: 10px 15px;
    
    border: 1px solid #4c5265;
    border-radius: 30px;
  
    background-color: #212129;    

    text-transform: uppercase;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    transition: font-weight 0.15s;
    transition: opacity 0.15s;
    cursor: pointer;
  }