header{
  display: flex;
  justify-content: space-between;
  position: relative;

  padding: 20px 40px;
  border-bottom: 5px solid #4c5265;

  background-color: #212129;

  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.15em;
}

#hambuger-menu{
  display: none;
}

.menu-item{
  display: inline;
  margin-right: 20px;
}

.menu-item button{
  border: inherit;
  
  font-size: inherit;
  background: inherit;
  font-weight: inherit;
  color: inherit;
}
