main{
  min-height: 700px;
  padding: 20px 40px;
  background-color: #131318;
  background-repeat: repeat-y;
  background-position: right;
  color: #ffffff;
}

h1{
  margin: 30px 0px 40px 0px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #c0c2ce;
}

h2{
  margin: 10px 0px 10px 0px;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.main-question{
  color: #c0c2ce;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 0em;
}

.main-text{
  width: 650px;
}

#port .main-text{
  width: 990px;
}

/*Skills*/

#skill-list{
  padding: 0px;
}

#contact-submit, .skill-item, .project-link{
  display: inline-block;
  margin: 40px 20px 40px 0px;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #c0c2ce;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 20px;
  transition: font-weight 0.15s;
  transition: opacity 0.15s;
  cursor: pointer;
}

.project-link{
  margin: 15px 0px;
  background-color: #e5e6eb;
}

#contact-submit:hover, .skill-item:hover, .project-link:hover{
  opacity: 0.5;
  font-weight: 700;
}

#contact-submit:active, .skill-item:active, .project-link:active{
  opacity: 1;
  font-weight: 400;
}

/*Contacts*/

.contacts-label{
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.contacts-input{
  width: 350px;
  margin-bottom: 25px;
  padding: 5px;
  font-size: 20px;
  font-weight: 100;
}

textarea.contacts-input{
  height: 350px;
}

#contact-submit{
  display: block;
  margin: 20px 20px 40px 0px;
  border: 0px;
}

