#skill-list{
    padding: 0px;
  }
  
  #contact-submit, .skill-item, .project-link{
    display: inline-block;
    margin: 40px 20px 40px 0px;
    padding: 20px 30px;
    
    border: 1px solid #4c5265;
    border-radius: 30px;
  
    background-color: #212129;    

    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    transition: font-weight 0.15s;
    transition: opacity 0.15s;
    cursor: pointer;
  }
  
  .project-link{
    margin: 15px 0px;
    background-color: #e5e6eb;
  }
  
  #contact-submit:hover, .skill-item:hover, .project-link:hover{
    opacity: 0.5;
  }
  
  #contact-submit:active, .skill-item:active, .project-link:active{
    opacity: 1;
  }