@media only screen and (max-width: 500px) {

/*Header*/

  header{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
  }

  /*Main*/

  h2{
    margin: 20px 0px 10px 0px;
  }

  main{
    padding: 25px 20px;
    background-size: 250px;
  }

  .main-text{
    width: 350px;
    margin-bottom: 50px;
  }

  .container{
    display: block;
    margin-top: 60px;
  }

  .screen{
    width: auto;
    min-width: 200px;
    height: 250px;
    margin-bottom: 30px;
    border-radius: 40px;
    font-size: 100px;
  }

  #container-buttons{
    display: flex;
    justify-content: space-between;
  }

  .button-command{
    display: inline;
    margin-right: 60px;
  }

  /*Footer*/

  footer{
    padding: 25px 20px;
  }


}
